@{
    ViewBag.Title = "About";
}
<style>
    .config li {
        font-weight: bold;
        padding: 5px;
    }
    .config li:hover a{
        color: green !important;
    }
</style>
<div style="width:60%;padding:10px;margin:0 auto;">
    <h1 style="font-size: 30px">Đây là trang web bán máy xông tinh dầu do nhóm 13 thực hiện</h1>
</div>
